body  {
	margin:0; padding:0; font:10px  Helvetica, Arial, sans-serif; color: #AAAAAA;
	background-color: #FFFFFF;
}

h1  {
    color: #222222;
    text-align: justify;
    letter-spacing: -0.05em;
    font: bold 10vw Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

h2  {
    color: #A9A9A9;
    text-align: justify;
    letter-spacing: -0.05em;
    font: bold 5vw Arial, Helvetica, sans-serif;
    padding: 0px 50px 0px 0px;
    margin-top: 10px;
}

div.indent {
    margin-left: 50px;
}

h3 {
    color: #222222;
    text-align: justify;
    letter-spacing: -0.05em;
    font: 5vw Arial, Helvetica, sans-serif;
}

#content {
	padding: 50px;
}
