body  {
    margin: 0;
    padding: 0;
    font: 2vw Helvetica, Arial, sans-serif;
    color: #AAAAAA;
    background-color: #FFFFFF;
}

h1  {
    color: #222222;
    letter-spacing: -0.05em;
    font: bold 10vw Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

h2  {
    color: #A9A9A9;
    text-align: justify;
    letter-spacing: -0.05em;
    font: 5vw Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    color: #222222;
    text-align: justify;
    letter-spacing: -0.05em;
    font: bold 4vw Arial, Helvetica, sans-serif;
}

h4 {
    margin-left: -15vw;
    margin-top: -4vw;
    font: 2vw Arial, Helvetica, sans-serif;
}

h5 {
    font: 2vw Arial, Helvetica, sans-serif;
}

p{
    font: 1vw Arial, Helvetica, sans-serif;
}
div.indent {
    margin-left: 2vw;
    font: 3vw Arial, Helvetica, sans-serif;
    letter-spacing: -0.03em;
}

#content {
	padding: 8vw;
}

img {
    width: 30vw;
    height: 30vw;
}

a:link,
a:visited {
  color: #AAAAAA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
