body  {
	margin:0; padding:0; font:10px  Helvetica, Arial, sans-serif; color: #AAAAAA;
	background-color: #FFFFFF;
}

h1  {
    color: #222222;
    text-align: justify;
    letter-spacing: -0.05em;
    font: bold 10vw Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

h2  {
    color: #A9A9A9;
    text-align: justify;
    letter-spacing: -0.05em;
    font: bold 5vw Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
}

h3 {
    color: #222222;
    text-align: justify;
    letter-spacing: -0.05em;
    font: 3vw Arial, Helvetica, sans-serif;
}

h4 {
    margin-top: -6vw;
}

h5 {
    float: right;
}

div.indent {
    margin-left: 50px;
}

#content {
	padding: 50px;
}

img {
    width: 30vw;
    height: 30vw;
}

a:link,
a:visited {
  color: #AAAAAA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
